@font-face {
  font-family: FontAwesome;
  src: url(/bcomps/fontawesome/fonts/fontawesome-webfont.woff); }
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }
body, html {
  font-family: FontAwesome, Raleway; }

#roll {
  background: #DDD;
  position: fixed;
  right: 45%;
  top: 40%;
  padding: 5px;
  border: 1px solid #AAA;
  cursor: pointer; }

.die-holder {
  position: absolute;
  top: 200px;
  left: 400px; }
  .die-holder .first, .die-holder .secnd {
    display: inline-block; }

.hide {
  display: none !important; }

/* CSS Dice: An Experiment by Jonathan Sampson - @jonathansampson */
.die.one .dot {
  box-shadow: 0 0.2em 0 #FFF; }

.die.two .dot {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345, 2.3em 2.3em 0 #345, -2.3em -2.3em 0 #FFF, 2.3em 2.4em 0 #FFF; }

.die.three .dot {
  box-shadow: -2.3em -2.3em 0 #345, 2.3em 2.3em 0 #345, -2.3em -2.3em 0 #FFF, 2.3em 2.4em 0 #FFF, 0 0.2em 0 #FFF; }

.die.four .dot {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345, 2.3em 2.3em 0 #345, -2.3em 2.3em 0 #345, 2.3em -2.3em 0 #345, -2.3em -2.3em 0 #FFF, 2.3em 2.4em 0 #FFF, -2.3em 2.4em 0 #FFF, 2.3em -2.3em 0 #FFF; }

.die.five .dot {
  box-shadow: -2.3em -2.3em 0 #345, 2.3em 2.3em 0 #345, -2.3em 2.3em 0 #345, 2.3em -2.3em 0 #345, -2.3em -2.2em 0 #FFF, 2.3em -2.2em 0 #FFF, 2.3em 2.4em 0 #FFF, -2.3em 2.4em 0 #FFF, 0 0.2em 0 #FFF; }

.die.six .dot {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345, -2.3em 0 0 #345, -2.3em 2.3em 0 #345, 2.3em -2.3em 0 #345, 2.3em 0 0 #345, 2.3em 2.3em 0 #345, -2.3em -2.1em 0 #FFF, -2.3em 0.2em 0 #FFF, -2.3em 2.4em 0 #FFF, 2.3em 2.4em 0 #FFF, 2.3em 0.2em 0 #FFF, 2.3em -2.1em 0 #FFF; }

.die {
  border-top: 1px solid #f1f1f1;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  font-size: 6px;
  display: inline-block;
  box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999;
  background-image: linear-gradient(top, #fefefe, #f1f1f1 80%); }

.dot {
  width: 20%;
  height: 20%;
  left: 50%;
  top: 50%;
  margin: -10%;
  background: #345;
  border-radius: 50%;
  display: block;
  position: absolute; }
